.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar-brand img {
  width: 125px;
}
.card {
  margin: 0 auto;
  width: 45%;
}
.card-img-top {
  height: 500px;
  margin: 0 auto;
}
.featured-photo {
  height: 200px;
  padding: 10px;
}
.featured-photo img {
  margin: 0 auto;
}
